<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    *ngIf="sidenav.mode==='over'"(click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav = "matSidenav" mode="side" opened>
    <img
      class="avatar mat-elevation-z8"
      src="https://scontent-mia3-2.xx.fbcdn.net/v/t39.30808-6/335482380_181750571298267_3585917150559041046_n.jpg?_nc_cat=102&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=8uaU_q4WdsYAX8S-qRH&_nc_ht=scontent-mia3-2.xx&oh=00_AfA9l03lvvEmaIRCDHdOhxCexakKZapAeYVWjghpL22M4w&oe=64BA4011"
    />
    <h4 class="name">Luis Ernesto</h4>
    <p class="designation">Ing Informatico</p>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main Content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
